:root {
    --primary-text: black;
    background: #83B799;

}

h1 {
    margin-left: 5%;
    margin-right: 5%;
    color: var(--primary-text);
    text-align: center;
}

.qr {
    margin-top: 5rem;
    text-align: center;
}

.header {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5rem;
    text-align: center;
    color: var(--primary-text);
}

.form {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.footer .socials  {
    padding-top: 19rem;
    margin-bottom: 2rem;
    text-align: center;
}

.footer .socials i {
    font-size: 30px;
    padding: 10  10px;
}

