{% extends 'layout.html' %}
{% block content %}
        <section class="header"> 
            <h1>QRCode Generator</h1>
            <p>Need a quick QR and don't want to sign up for something?<br>
                Yeah same, just enter whatever text below hit return.
            </p>
        </section>
        <section class="form">
            <form action = "{{  url_for('qr') }}", method="POST">
                <label for="qr">Enter text here ---></label>
                <input type="text", name="qr", id="qr">
            </form>
        </section>
{% endblock %}