<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet">
    <script src="https://kit.fontawesome.com/7174daea4e.js" crossorigin="anonymous"></script>
    <link rel='stylesheet'href="static/styles.css">
    <title>QRcode generator</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <section class="footer">
        <div class="socials">
            <a href="https://github.com/thamasmorethelen">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/thomas-thelen-73897b187/">
            <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://thomasmorethelen.com">
                <i class="fa-solid fa-house-user"></i>
            </a>
            <a href="mailto:thamasthelen">
            <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
    </section>  
</body>

</html>